.comment {
  padding: 1rem;
  margin: 1rem 0;
}
.comment:not(:last-child) {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
    background-color: var(--gray-color);
  }
}

.comment-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment-top__btns {
  display: flex;
  justify-self: center;
  align-items: center;
}

.comment-user-nickname {
  color: var(--primary-color);
  font-weight: bold;
  & span {
    color: var(--secondary-color);
    font-weight: normal;
    font-size: 0.8rem;
  }
}
.comment-likes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  font-size: 1rem;
}
.comment-liked {
  color: rgb(216, 75, 75);
}
.comment-not-liked {
  color: rgb(157, 156, 156);
}

.comment-text {
  text-align: left;
}
.comment-bottom {
  display: flex;
  gap: 1rem;
}

.comment-delete {
  margin-top: 1rem;
  color: var(--danger-color);
  font-size: 1rem;
  border: 2px solid var(--danger-color);
  border-radius: 0.4rem;
  padding: 0.2rem 0.4rem;
  transition: 0.5s;
  &:hover {
    scale: 1.05;
  }
}
.comment-delete span {
  margin: 0 0.4rem;
}
.comment-save {
  margin: 1rem;
  color: var(--success-color);
  font-size: 1rem;
  border: 2px solid var(--success-color);
  border-radius: 0.4rem;
  padding: 0.2rem 0.4rem;
  transition: 0.5s;
  height: 100%;
  &:hover {
    scale: 1.05;
  }
}
.comment-edit {
  color: var(--gray-color);
  font-size: 1rem;
  border: 2px solid var(--gray-color);
  border-radius: 0.4rem;
  padding: 0.2rem 0.4rem;
  transition: 0.5s;
  &:hover {
    scale: 1.05;
  }
}
.comment-reply {
  color: var(--secondary-color);
}

.comment-content__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
