.comment {
  border: 2px solid var(--primary-dark-color);
  background-color: var(--text-light-color);
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 0;
}

.comment-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-user-nickname {
  color: var(--primary-color);
  font-weight: bold;
}
.comment-likes {
}
.comment-content {
}
.comment-text {
}
.comment-bottom {
  display: flex;
  gap: 1rem;
}
.comment-btn {
}
.comment-delete {
  color: var(--danger-color);
}
.comment-edit {
  color: var(--gray-color);
}
.comment-reply {
  color: var(--secondary-color);
}
