.modal {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.4);
  & button {
    border-radius: 8px;
    padding: 0.4rem 0.4rem;
    font-weight: bold;
    outline: 3px solid var(--danger-color);
  }
}
.modal-content {
  padding: 3rem;
  width: 24rem;
  max-width: 90%;
  height: max-content;
  background: white;
  border-radius: 8px;
  margin: 0 auto;
  position: relative;
}
.modal-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-confirm {
  background-color: var(--danger-color);
  color: var(--text-light-color);
}

.button-cancel {
  color: var(--danger-color);
}
.button-close {
  position: absolute;
  top: 2%;
  right: 2%;
  outline: none !important;
  font-size: 1.5rem;
  color: var(--primary-color);
}
.modal-icon {
  font-size: 1.5rem;
}
.danger-color {
  color: var(--danger-color);
}

.success-color {
  color: var(--success-color);
}

.warning-color {
  color: var(--secondary-color);
}
