.modal {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.4);
  & button {
    border-radius: 8px;
    padding: 0.4rem 0.4rem;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }
}
.modal-content {
  padding: 3rem;
  max-width: 500px;
  height: max-content;
  background: var(--white-color);
  border-radius: 8px;
  margin: 0 auto;
  position: relative;
}
.modal-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-confirm {
  &:hover {
    scale: 1.05;
  }
}

.button-cancel {
  &:hover {
    scale: 1.05;
  }
}
.button-close {
  position: absolute;
  top: 2%;
  right: 2%;
  outline: none !important;
  font-size: 1.5rem;
  color: var(--text-dark-color);
}
.modal-icon {
  font-size: 1.5rem;
}
.danger-color {
  color: var(--danger-color);
}

.success-color {
  color: var(--success-color);
}

.warning-color {
  color: var(--secondary-color);
}

.button-confirm.danger-button {
  background-color: var(--danger-color);
  color: var(--text-light-color);
}
.button-cancel.danger-button {
  border: 3px solid var(--danger-color);
  color: var(--danger-color);
}
.button-confirm.success-button {
  background-color: var(--success-color);
  color: var(--text-light-color);
}
.button-cancel.success-button {
  border: 3px solid var(--success-color);
  color: var(--success-color);
}
.button-confirm.warning-button {
  background-color: var(--secondary-color);
  color: var(--text-light-color);
}
.button-cancel.warning-button {
  border: 3px solid var(--secondary-color);
  color: var(--secondary-color);
}
