.comments {
  text-align: center;
  background-color: var(--white-color);
  border-radius: 1rem;
  z-index: 0;
  & li {
    list-style: none;
  }
}

.new-comment {
  width: 100%;
  max-width: 500px;
  margin: 1rem 0;
}

.submit-btn {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem;
}

@media (min-width: 768px) {
  .comment {
    padding: 2rem;
  }
}
