@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #41729f;
  --primary-dark-color: #274472;
  --primary-light-color: #c3e0e5;
  --text-dark-color: #050a30;
  --text-light-color: #eeede7;
  --secondary-color: #b68d40;

  --danger-color: #f79489;
  --success-color: #94c973;
  --gray-color: #cfdae0;

  --white-color: #f5f5f5;

  --primary-font: 'Montserrat', sans-serif;
}

body {
  color: var(--text-dark-color);
  background: var(--primary-color);
  background: linear-gradient(
    90deg,
    var(--primary-color) 27%,
    var(--primary-light-color) 100%
  );
  font-family: var(--primary-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 50px;
}

section,
main,
header,
footer {
  max-width: 1200px;
  margin: 0 auto;
}

textarea {
  text-wrap: pretty;
  border: none;
  max-width: 100%;
  resize: none;
  border-radius: 0.4rem;
  font-family: var(--primary-font);
}
button {
  border: none;
  padding: 1rem;
  background: transparent;
  cursor: pointer;
}
button,
a {
  font-family: var(--primary-font);
}
